<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TO-DO LIST</title>
  </head>
  <body>
  <form action="" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
    <div class="col-md-4">
        <input type="text" class="form-control" name="titles" id="titles" placeholder="Add Here" required>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <div class="container">
    <h1>MY TO-DO LIST</h1>
    <div class="row">
        {% for i in add %}
            {{ i.title }}
            <a href="{% url 'delete' i.id %}">
                <button type="button" class="btn btn-primary">Delete</button>
            </a>
        {% endfor %}
    </div>
    </div>
    </form>
 </body>
</html>